.spline{
    background: url('../../bg1.jpg');
  background-size: cover; /* Makes sure the image covers the entire container */
  background-position: center; /* Centers the background image */
  width: 40%; /* Ensure the width matches your JSX */
  height: 60vh; /* Full viewport height */
  position: relative; 
  opacity: 0;
  border-radius: 10px;
}